# Text to SQL Chatbot

in this project, we use LLMs, LangChain, and Ollama to create a text-to-sql chatbot.
consumer will be able to chat with their data.

in this example we used MySQL database

In [ ]:
#!pip install pymysql

In [ ]:
import pandas as pd

from langchain_ollama import ChatOllama
from langchain_core.messages import HumanMessage, SystemMessage
from langchain_core.prompts import ChatPromptTemplate

from sqlalchemy import create_engine, MetaData

In [ ]:
class NLtoSQL():
    def __init__(self, input, database_url, table_name, model_type='deepseek-r1:1.5b'):
        self.input = input
        self.database_url = database_url
        self.table_name = table_name
        self.__set_engine__()
        self.schema = self.__get_schema__()
        self.dataset = self.__get_dataset__()
        self.model = ChatOllama(model=model_type, temperature=0)
        self.chat_messages = []
        self.sys_msg = self.__set_sys_message__()
        self.prompt_template = self.__set_prompt__()
        self.chat_messages.append(self.sys_msg)

    def __set_engine__(self):
        engine = create_engine(url=self.database_url, echo = False)
        database_connection = engine.connect()
        self.db_engine = engine
        self.db_con = database_connection

    def __get_dataset__(self):
        df = pd.read_sql_table(table_name=self.table_name, con=self.db_con)
        return df

    def __get_schema__(self):
        metadata = MetaData()
        metadata.reflect(bind=self.db_engine)
        table = metadata.tables[self.table_name]
        columns_description = []
        for column in table.columns:
            columns_description.append(f"{column.name}: {column.type}")
        return columns_description

    def __set_sys_message__(self):
         return SystemMessage('''
                              You are a text to MySQL converter.
                              Your task is to convert **natural language into MySQL query**.
                              Follow these rules:
                              - Use **only** MySQL syntax
                              - Output **only** the MySQL query syntax (no explanations).
                              - Assume the given table structure is an MySQL table.
                              '''
                              )
        
    def __set_prompt__(self):
        temp = '''
        ### **Table Structure:**  
        {schema} 
        Data: {dataset}
        ### **User Query:**  
        Convert this request into MySQL using the given table structure: {prompt}
        '''
        return ChatPromptTemplate.from_template(temp)

    def call(self):
        query = self.prompt_template.format(
            schema = self.schema,
            dataset = self.dataset,
            prompt = self.input
            )
        self.chat_messages.append(HumanMessage(query))
        response = ''
        for chunk in self.model.stream(self.chat_messages):
            response += chunk.content
            yield response

In [ ]:

database_url = "mysql+pymysql://username:password@localhost/dbname"

# database table that you want to query from
table_name = ""

In [ ]:
#write a question like give top 5 records and so on based in your case
input = 'top 5 employees in the last month'

# you can experiment with other LLMs from Ollama
model = NLtoSQL(input=input, database_url=database_url, table_name=table_name, model_type='mistral')

In [ ]:
full_response = ""

for chunk in model.call():
    full_response = chunk

print(full_response)